<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 100%;
       }
/* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var home = {lat: -35.075385, lng: 173.756557};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: home
        });
        var marker = new google.maps.Marker({
          position: home,
          map: map
        });
        map.data.addGeoJson(model);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIXo11gzimihvYFVr25gNJUSzR9FkYUPw&callback=initMap">
    </script>
      <script>
          var model = {{=JSON.stringify(it)}};
      </script>
  </body>
</html>
